@import url("https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap");
.navbar-component {
  background: #f8f9fa;
}
.navbar-container {
  display: flex;
  margin: 20px;
  background: #f8f9fa;
  justify-content: space-around;
  align-items: center;
}
.nav-link-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.add-ons {
  padding-top: 8px;
}
.carousel-title {
  -webkit-animation: slide-top 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-top 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
}
.nav-link {
  font-size: large;
  font-weight: 600;
  position: relative;
  :focus {
    border-bottom: 2px solid #61afff;
  }
  :hover {
    color: #61afff;
    animation: myAnim 500ms ease-in-out 0s 1 normal none;
  }
  @keyframes myAnim {
    100% {
      transform: scale(1.25);
    }
  }
}

.home-container {
  text-align: center;
}
.home-text {
  font-family: "Open Sans", sans-serif;
}
.home-intro {
  display: flex;
  flex-direction: column;

  text-align: justify;
  gap: 10px;
  padding: 5%;
  font-size: larger;
}
.who-we-are {
  padding: 20px;
}

.expertise {
  color: #273272;
  font-weight: 600;
}

.expertise-addon {
  color: #ff5e14;
  font-weight: 700;
}
.about-card {
  width: 15%;

  @media screen and (min-width: 360px) and (max-width: 768px) {
    width: 50%;
  }
}

.about {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  margin: 20px;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 360px) and (max-width: 768px) {
    width: 100%;
    flex-direction: column;
  }
}

.bg-image {
  opacity: 0.3;
  border: none;
  height: 100px;
  width: 100px;
}
.home-text {
  text-align: left;
}
.card-text {
  color: #ff5e14;
  font-weight: 900;
}
// .card {
//   width: 300px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   @media screen and (max-width: 680px) {
//     width: 350px;
//   }
// }
.card:nth-child(1) {
  justify-self: flex-end;
}
// .card-text-div {
//   position: absolute;
//   top: 30px;
//   right: 18px;
//   width: auto;
// }
.helper {
  color: #273272;
  font-weight: bold;
  font-size: large;
}
