.footer-container {
  background-color: #273272;
  color: #fff;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-text {
  font-weight: 600;
}
